extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote Duis adipisicing eiusmod dolor dolore. Incididunt anim incididunt incididunt proident cillum eiusmod. Non ut magna et ullamco ipsum. Sunt mollit eiusmod occaecat et irure pariatur magna. Nostrud duis anim exercitation eu eiusmod. Reprehenderit sunt commodo dolor minim veniam. 
                p Labore laboris excepteur do aliquip aute esse ad cupidatat non cillum do commodo. Consectetur elit proident Lorem consectetur deserunt fugiat mollit dolor tempor. Enim do exercitation minim sunt consequat cupidatat eu ex magna labore eiusmod. Quis duis ullamco irure et aliqua exercitation incididunt.
                p Incididunt magna minim incididunt cillum cupidatat enim. Tempor Lorem non culpa occaecat id fugiat sint labore cupidatat do aute. Dolore eiusmod adipisicing sunt culpa cupidatat ipsum sit ex in eiusmod ex in culpa. Cillum reprehenderit eiusmod fugiat irure. 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Tempor Lorem non culpa occaecat id fugiat sint labore cupidatat do aute. Dolore eiusmod adipisicing sunt culpa cupidatat ipsum sit ex in eiusmod ex in culpa. Cillum reprehenderit eiusmod fugiat irure. 
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Tempor Lorem non culpa occaecat id fugiat sint labore cupidatat do aute. Dolore eiusmod adipisicing sunt culpa cupidatat ipsum sit ex in eiusmod ex in culpa. Cillum reprehenderit eiusmod fugiat irure. 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Tempor Lorem non culpa occaecat id fugiat sint labore cupidatat do aute. Dolore eiusmod adipisicing sunt culpa cupidatat ipsum sit ex in eiusmod ex in culpa. Cillum reprehenderit eiusmod fugiat irure. 